* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  --color-primary-dark: #223040;
  --color-primary: #769fcd;
  --color-primary1: #b9d7ea;
  --color-primary2: #d6e6f2;
  --color-primary3: #d6e6f2;
  --color-primary4: #f7fbfc;

  --color-neutral-light: #999999;

  --transition-time: 0.2s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary4);
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  transition: var(--transition-time);
}

.navLinks {
  cursor: pointer;
  margin-right: 10%;
  font-size: 20px;
  color: var(--color-primary-dark);
  transition: var(--transition-time);
}

.link {
  margin-left: 15px;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
  position: relative;
  transition: var(--transition-time);
}

.link:hover {
  color: var(--color-primary-dark);
}

/* hero */

.hero {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.heroHello {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.heroName {
  font-size: 5rem;
  font-family: "abril-fatface";
  font-weight: 700;
  color: var(--color-primary-dark);
  line-height: 90%;
}

.heroInfo {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.subHeading {
  font-weight: 300;
  font-size: 1.5rem;
  width: 40ch;
}

.icons {
  font-size: 2rem;
  gap: 1rem;
  color: var(--color-primary);
}

.icons a {
  color: var(--color-primary);
  transition: var(--transition-time);
}

.icons a:hover {
  color: var(--color-primary-dark);
}

.heroIcon {
  margin-left: 1rem;
}

/* utility */
.sectionLabel {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-primary-dark);
  line-height: 0em;
  font-size: 2rem;
  margin: 4rem 0;
}
.sectionLabel span {
  background-color: var(--color-primary4);
  padding: 0 0.5em;
  color: var(--color-primary-dark);
}

.inverted {
  background-color: var(--color-primary-dark);
  color: white;
}

/* projects */
.projectImg {
  border-radius: 6px;
}

.projectInfo {
  text-align: right;
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
}

.projectLabel {
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 0.1ch;
  font-size: 1.2rem;
  line-height: 100%;
}

.projectTitle {
  text-decoration: none;
  font-size: 2rem;
  font-family: "abril-fatface";
  font-weight: 600;
}

.projectDescription {
  background-color: rgb(4, 45, 59);
  color: white;
  text-align: left;
  padding: 1rem;
}

.tools {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.tools > * {
  color: var(--color-primary-dark);
  font-size: 1rem;
  margin: 0;
}

.links > * {
  margin: 6px;
}

/* about me */

.aboutMeIcon {
  font-size: 5rem;
  color: var(--color-primary-dark);
}

.aboutMePara {
  font-size: 1.5rem;
}

/* skills */

.skillsTitle {
  flex-basis: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  /* font-family: "abril-fatface"; */
  color: var(--color-primary-dark);
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.skill {
  margin: 1em;
  text-decoration: none;
  color: black;
  padding: 1em;
  border-radius: 1em;
  transition: 0.2s ease;
}

.skill p {
  color: var(--color-primary-dark);
  font-size: 1.2rem;
}

.skill img {
  height: 5em;
  -webkit-filter: grayscale();
}

.skill:hover,
.skill p:hover,
.skill img:hover {
  background-color: var(--color-neutral-light);
  text-decoration: none;
}
